* {
  margin: 0px;
  /* background-color: rgb(243, 191, 175); */
  background-color: rgb(233, 235, 205);
}

.not-found-text {
  text-align: center;
  font-size: 1.25rem;
  padding: 20px;
}

.App {
  text-align: center;
}
